<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ссылки на YouTube и локальный файл</title>
    <style>
        /* Стили для тела страницы */
        body {
            font-family: Arial, sans-serif;
            background-color: #f9f9f9;
            margin: 0;
            padding: 0;
            color: #333;
        }
        /* Стили для заголовка */
        h1 {
            text-align: center;
            color: #333;
            padding: 20px 0;
            background-color: #e2e2e2;
            margin: 0 0 20px 0;
        }
        /* Стили для параграфов */
        p {
            max-width: 800px;
            margin: 0 auto 20px auto;
            padding: 10px;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        /* Стили для ссылок */
        a {
            color: #007BFF; /* Синий цвет для ссылок */
            text-decoration: none;
        }
        a:hover {
            text-decoration: underline;
        }
    </style>
</head>
<body>
    <h1>Witam!</h1>
    
    <p>My chenal <a href="https://www.youtube.com/channel/UCtGY0dQ5oCT8NWWLcV_hV3w">clik youtube</a>.</p>
    
    <p>Site o kotach, <a href="https://spottydemild.github.io/24.05.12/">klick</a>.</p>
</body>
</html>
